beautifulsoup4==4.10.0
bs4==0.0.1
cachetools==4.1.1
decorator==4.4.2
Flask==1.1.4
Flask-Cors==3.0.10
Flask-Script==2.0.6
ipython==7.16.1
ipython-genutils==0.2.0
Markdown==3.3.3
MarkupSafe==2.0.1
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.27
numpy==1.19.5
pandas==1.1.4
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.25.0
rsa==4.6
scipy==1.5.4
selenium==3.141.0
toml==0.10.2
urllib3==1.26.2
webdriver-manager==3.4.2
coverage run --source=mypkg setup.py test
coveralls
